<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/static/style.css">
    <title>登录</title>
</head>
<body>
    <div class="container">
    <h1>用户登录</h1>
    <!--将登陆信息放到一个form中-->
    <form method="POST">
        <div class="form-group">
          <label name="username">用户名:</label>
          <input type="text" name="username" required>
        </div>
        <br/>
        <div class="form-group">
          <label name="password">密码:</label>
          <input type="password" name="password" required>
        </div>
        <br/>
        <br/>
        <div class="form-group">
          <input type="submit" value="登录">
        </div>
        <!--跳转到register的页面-->
        <a href="{{ url_for('register_user') }}">注册</a>
    </form>
    </div>
</body>
</html>

